body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
    }

p,h1,h2,h3,h4,h5,h6{
    margin-top:0;
    margin-bottom:0;
}

ul{
    list-style: none;
    margin-top:0;
    margin-bottom:0;
    padding-left:0;
}

a{
    text-decoration: none;
}
img {
    display: block;
}
address {
    font-style: normal;
}
.container{
max-width: 1470px;
padding-left: 15px; 
padding-right:  15px;
margin:0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
}
/*?---------------------HEADER-------------------------*/
.header {
    padding-top:25.5px;
    padding-bottom:25.5px;
}
.header-navigation {
}
.header-logo {
    color:#4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo-black {
    color: #2e2f42;
}
.header-menu-list {

}
.header-menu-item {
}
.header-menu-link {
    color:  #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}
.header-menu-link:hover, .header-menu-link:focus{
    color:#404bbf;
}

.adress {
    font-style: normal;
}
.adress-menu-list {
}
.adress-menu-item {
}
.adress-menu-link {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.adress-menu-link:hover, .adress-menu-link:focus{
    color: #404bbf;     
}
/*?---------------------SECTION-1-BUISNESS----------------*/
.business {
    padding-bottom:120px;
    text-align: center;
}
.business-container{
    background: #2E2F42;
    padding-top: 188px; 
    padding-bottom:188px;
    max-width: 100%;
}
.business-titel {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;

}
.business-btn {
    color: #FFF;
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
}
.business-btn:hover, .business-btn:focus{
    background-color:#404bbf;
}
/*?----------------SECTION-2-OUR STRENGTH------------------*/
.strength {
    padding-bottom:120px;
}
.strength-container{
    max-width: 100%;
}
.strength-title{
    display:none;
}
.strength-list {
    

}
.strength-item {
}
.strength-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom:8px;
}
.strength-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*?--------------------SECTION-3-OUR TEAM------------------*/
.team {
text-align: center;
padding-bottom:120px;
}

.team-container{
    background-color: #F4F4FD;
    max-width: 100%;
    padding-top:120px;
    padding-bottom:120px;
}
.team-titel{
color:#2E2F42;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom:72px;
}
.team-list {
}
.team-item {
    background-color: #FFFFFF;
}
.team-img-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom:8px;
}
.team-item-text {color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/*?------------------------SECTION-4-PORTFOLIO--------------------------*/
.portfolio {
    text-align: center;
}
.portfolio-container{
    max-width: 100%;
}
.portfolio-item{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom:72px;
}
.portfolio-list {
}
.portfolio-list-item {

}
.portfolio-img-name {
    color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.20;
letter-spacing: 0.02em;
text-align: center;
margin-bottom:8px;
margin-top:32px;
}
.portfolio-item-text {
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
margin-bottom:32px;
}
/*?------------------------FOOTER--------------------------*/
.footer {
    background-color: #2E2F42;
    padding-top:101.5px;
    padding-bottom:100px;
}
.footer-container{
    max-width: 100%; 
}
.footer-logo {
    color:#4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-logo-wight {
    color: #f4f4fd;
    margin-bottom:17.5px;
}
.footer-text {color: #f4f4fd;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
        margin-top:17.5px;
}

/*?----------------------FINISH MODUL 2------------------------*/